.card-container {
    width: 400px;
    margin: auto;
    margin-top: 10%;
    border-radius: .4em;
    font-family: 'Open Sans', sans-serif;
}

mat-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.card-content form {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
}