<mat-card class="card-container">
    
    <mat-toolbar>Faça login</mat-toolbar>
    

    <mat-card-content class="card-content">

        <form [formGroup]="loginForm" (submit)="login()">
            <mat-form-field appearance="outline">
                <mat-label>Usuário</mat-label>
                <input #username formControlName="username" matInput type="text">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
                Entrar
            </button>
        </form>

    </mat-card-content>
</mat-card>

