.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .mat-drawer {
    min-width: 200px;
}

.container .mat-drawer .mat-button {
    display: block;
    width: 100%;
    text-align: left;
}

.spacer {
    flex: 1 1 auto;
}

.wrapper {
    padding: 1em;
    margin: 0 auto;    
}

.logo {
    margin-top: 10px;
    width: 200px;
}

.toolbar-row {
    background: #000;
}

.sidenav {
    width: 250px;
    -webkit-box-shadow: 6px 3px 13px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px 3px 13px -5px rgba(0,0,0,0.37);
    box-shadow: 6px 3px 13px -5px rgba(0,0,0,0.37);
}

.side-header {
    height: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.nav-item mat-icon {
    padding-right: 15px;
}

.nav-item {
    transition: color .2s ease;
}

.nav-item:hover {
    color: rgb(228, 42, 42);
}